.header{
  width: 192rem;
  background: rgba(41, 162, 140, 0.11);

  @include respond(phone){

  }

  @include respond(port){

  }

  @include respond(land){

  }

  &__wrap{
    display: block;
    width: 145rem;
    margin: 0 auto;
    margin-bottom: 10rem;
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;

    @include respond(phone){
      width: 60rem;
      margin: 0 auto;
    }

    @include respond(port){
      width: 90rem;
      margin: 0 auto;
    }

    @include respond(land){
      width: 120rem;
      margin: 0 auto;
    }
  }

  &__group{
    width: 145rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(phone){
      width: 60rem;
      flex-wrap: wrap;
    }

    @include respond(port){
      width: 90rem;
      flex-wrap: wrap;
    }

    @include respond(land){
      width: 120rem;
      flex-wrap: wrap;
    }
  }

  &__logo{
    display: block;
    width: 27rem;
    height: 5.2rem;
    @include respond(phone){
      margin: 0 auto;
      margin-bottom: 2rem;
    }

    @include respond(port){
      margin: 0 auto;
      margin-bottom: 2rem;
    }

    @include respond(land){
      margin: 0 auto;
      margin-bottom: 2rem;
    }
  }

  &__navigation{
    display: block;
    width: 89rem;

    @include respond(phone){
      width: 60rem;
    }

    @include respond(port){
      width: 90rem;
    }

    @include respond(land){
      width: 120rem;
    }
  }

  &__list{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__item{
    list-style: none;

    a{
      text-decoration: none;
      color: #000;
    }
  }
}
